.btn {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary {
    background: #64a2cb;
    color: white;
}

.btn-danger {
    background: #db5942;
    color: white;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    transform: scale(0.98);
}